// To get started, press Ctrl+Space to bring up the completion menu and view the available nodes.

// You can also use the buttons in the sidebar to perform actions on nodes.
// Actions currently available include:

// * Enabling / disabling the node
// * Adding the bus to a bus
// * Removing the node
// * Connecting ADC channels

// For more help, browse the DeviceTree documentation at https://docs.zephyrproject.org/latest/guides/dts/index.html
// You can also visit the nRF DeviceTree extension documentation at https://nrfconnect.github.io/vscode-nrf-connect/devicetree/nrfdevicetree.html

&spi0 {
	st7789v@0 {
		compatible = "sitronix,st7789v";
		reg = <0x0>;
		cmd-data-gpios = <&gpio0 31 GPIO_ACTIVE_LOW>;
		// supply-gpios = <&gpio0 29 0>;
		label = "ST7789V";
		status = "okay";
		spi-max-frequency = <2000000>;
		width = <240>;
		height = <280>;
		x-offset = <0>;
		y-offset = <20>;
		vcom = <0x32>;
		gctrl = <0x35>;
		vrhs = <0x15>;
		mdac = <0x00>;
		gamma = <0x01>;
		colmod = <0x55>;
		lcm = <0x2c>;
		porch-param = [0c 0c 00 33 33];
		cmd2en-param = [5a 69 02 01];
		pwctrl1-param = [a4 a1];
		pvgam-param = [d0 08 0e 09 09 05 31 33 48 17 14 15 31 34];
		nvgam-param = [d0 08 0e 09 09 15 31 33 48 17 14 15 31 34];
		ram-param = [00 f8];
		rgb-param = [cd 08 14];
		vdvs = <0x20>;
		reset-gpios = <&gpio0 28 GPIO_ACTIVE_LOW>;

	};

	status = "okay";
	cs-gpios = <&gpio0 30 GPIO_ACTIVE_LOW>;
	// wake-gpios = <&gpio0 29 0>;
};

&spi1 {
	status = "disabled";
};

&spi3 {
	status = "disabled";
};

&spi3_default {
	group1 {
		psels = <NRF_PSEL(SPIM_SCK, 1, 15)>,
				<NRF_PSEL(SPIM_MISO, 1, 14)>,
				<NRF_PSEL(SPIM_MOSI, 0, 4)>;
	};
};

&spi0_default {
	group1 {
		psels = <NRF_PSEL(SPIM_SCK, 0, 3)>, <NRF_PSEL(SPIM_MOSI, 0, 4)>;
	};
};

/ {
	aliases {
		lcd = &{/soc/spi@40003000/st7789v@0/};
	};

	chosen {
		zephyr,display = &{/soc/spi@40003000/st7789v@0/};
	};
};

&qspi {
	status = "disabled";
};

&i2c0 {
	status = "disabled";
};

&adc {
	status = "disabled";
};

&pwm0 {
	status = "disabled";
};
